@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Montserrat', sans-serif;
}
.mainNav {
    z-index: 100;
}
.modalBox1 {
    z-index: 200;
    background: rgba(0,0,0,0.9);
}
.modalBoxInner1 {
    z-index: 250;
}
.modalBox2 {
    z-index: 300;
    background: rgba(0,0,0,0.9);
}
.modalBoxInner2 {
    z-index: 350;
}
.bringToCenter {
    transform: translate(-50%,-50%);
}
.fixedCenter {
    left: calc(50vw - 1.25rem);
}
.commentModalHeight {
    height: 70vh;
}
.m-w-400 {
    min-width: 400px;
}
.m-h-500 {
    max-height: 500px;
}
.m-w-80p {
    max-width: 80%;
}
.scale01 {
    transform: scale(0.1)
}
.scale100 {
    transform: scale(1)!important ;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}